body, h1, h2, h3, h4, ol, ul, p, a {
	margin: 0;
	font-family: Arial;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

*{
	box-sizing: border-box;
}

a{
	text-decoration: none;
}

.ricardo{
	width: 380px;
	height: 600px;
	position: relative;

}

.ricardo__hair{
	position: absolute;
	left: -30px;
	height: 320px;
	width: 440px;
	background-color: #451e00;
	border-radius: 40% 40% 0 0;
	border: solid;
	border-color: #451e00;
	z-index: -4;
}

.face__chub{
	background:linear-gradient(#f0e4aa 3%, #451e00 90%);
/*	background: rgb(2,0,36);*/
/*background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);*/

	position: absolute;
	top: -80px;
	left: 50%;
	transform: translateX(-50%);
	width: 260px;
	height: 180px;
	border-radius: 15px 110px 70px 80px;
	border: 3px solid #451e00;
}

.face{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	border-radius: 50%;
	background-color: #ffc3a3;
	z-index: -3;
}

.face__middle{
	position: absolute;
	left: 0;
	right: 0;
	top:200px;
	height: 100px;
	display: flex;
	justify-content: center;
	z-index: -2;
}

.ear{
	height: 150px;
	width: 80px;
	background-color: #ffc3a3;
	border-radius: 50%;
	position: absolute;
	top:0;
}

.ear:after{
	display: block;
	content: "";
	width: 23px;
	height: 23px;
	background-color: #5a73d6;
	position: absolute;
	bottom: 12%;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 50%;
	border: 5px solid;
	border-color: #303030;
}

.ear.-left:before{
	right: 15px;
}

.ear.-right:before{
	left: 15px;
}



.ear.-left{
	left:-50px;
}

.ear.-right{
	right:-50px
}
.eye{
	height: 45px;
	width: 30px;
	background-color: black;
	border-radius: 50%;
	position: absolute;
	top:40%;
}

.eye.-right{
	left: 26%;
	transform: translateX(-70%);
}

.eye.-left{
	right: 26%;
	transform: translateX(70%);
}

.eyebrow{
	position: absolute;
	top:-26%;
	height: 45px;
	width:80px;
	background-color: #2e180d;
	border-radius: 5px 25px 5px 25px;

}

.eyebrow.-left{
	right: 26%;
	transform: translateX(70%);
border-radius: 25px 5px 25px 5px;
	
}

.eyebrow.-right{
	left: 26%;
	transform: translateX(-70%)
}

.nose{
	position: absolute;
	
	/*transform: translateX(-50%);*/
	height: 210px;
	width: 80px;
	background-color: #d98257;
	border-radius: 40% 40% 10% 10%;

}

.nose:before{
	position: absolute;
	bottom:-30px;
	display: block;
	content: "";
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border-color:#2e8f41; 
	border: 7px solid;
	left: 50%;
	transform: translateX(-50%);	
	z-index: -1;
}

.nose:after{
	position: absolute;
	bottom:-40px;
	display: block;
	content: "";
	width: 15px;
	height: 15px;
	border-radius: 50%;
	border-color: #2e8f41; 
	background-color: #5a73d6;
	border: 7px solid;
	left: 50%;
	transform: translateX(-50%);	
}

.face__mouth{
	position: absolute;
	bottom: 17%;
	left: 50%;
	transform: translateX(-50%);
	border-bottom: 6px solid;
	border-radius: 0 0 30% 30%;
	height: 70px;
	width: 100px;
	border-color: #303030;
}

